langgraph
crewai
crewai[tools]
crewai-tools
pyyaml
slack-bolt
faiss-cpu
sentence-transformers
python-dotenv
ollama
qdrant-client
pytest
watchdog
langchain-openai
langchain-nvidia-ai-endpoints
e2b
browser-use
mcp
